<model>
    <mount>//OPNsense/DynDNSGD/settings</mount>
    <description>
        the OPNsense DynamicDNS mount and model for the Settings-view.
    </description>
    <version>0.1.0</version>
    <items>
        <enabled type="BooleanField">
            <default>1</default>
            <Required>Y</Required>
        </enabled>
        <log_level type="OptionField">
            <Required>Y</Required>
            <default>normal</default>
            <OptionValues>
                <normal>normal</normal>
                <debug>debug</debug>
            </OptionValues>
        </log_level>
    </items>
</model>
