<!--
  ~ Copyright (c) 2021, Olli-Pekka Wallin
  ~ All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without
  ~ modification, are permitted provided that the following conditions are met:
  ~
  ~ 1. Redistributions of source code must retain the above copyright notice, this
  ~    list of conditions and the following disclaimer.
  ~
  ~ 2. Redistributions in binary form must reproduce the above copyright notice,
  ~    this list of conditions and the following disclaimer in the documentation
  ~    and/or other materials provided with the distribution.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  ~ AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  ~ IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
  ~ DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
  ~ FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
  ~ DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
  ~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
  ~ CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
  ~ OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  ~ OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->

<form>
    <field>
        <id>settings.enabled</id>
        <label>Enable: </label>
        <type>checkbox</type>
        <help>Enable or disable Goddy-service</help>
    </field>
    <field>
        <id>settings.api_key</id>
        <label>Key</label>
        <type>text</type>
        <help>Set a key for account.</help>
    </field>
    <field>
        <id>settings.api_secret</id>
        <label>Secret key</label>
        <type>password</type>
        <help>Set a secret key for account.</help>
    </field>
    <field>
        <id>settings.check_method</id>
        <label>Check ip method</label>
        <type>dropdown</type>
        <help>How to determine the address to use for this host</help>
    </field>
    <field>
        <id>settings.interface</id>
        <label>Interface</label>
        <type>dropdown</type>
        <allownew>false</allownew>
        <help>Set a default interface to monitor.</help>
    </field>
    <field>
        <id>settings.interval_delay</id>
        <label>Interval</label>
        <type>text</type>
        <help>Interval in seconds to check for address changes</help>
    </field>
    <field>
        <id>settings.atrecord</id>
        <label>Add @-records by default ?</label>
        <type>checkbox</type>
        <allownew>false</allownew>
        <help>Should domains support at records by default.</help>
    </field>
</form>
