<menu>
    <!-- Plugin Dyndns GD menu -->
    <Services>
        <DynDNSGD VisibleName="Dynamic DNS for GoDaddy"  cssClass="fa fa-tags">
            <Settings url="/ui/dyndnsgd/settings/index" order="10"/>
            <Accounts url="/ui/dyndnsgd/accounts/index" order="20"/>
            <Domains url="/ui/dyndnsgd/domains/index" order="30"/>
            <Logs VisibleName="Log Files" order="30" url="/ui/dyndnsgd/logs">
                <SystemLog VisibleName="System Log" order="30" url="/ui/dyndnsgd/logs"/>
            </Logs>
        </DynDNSGD>
    </Services>
</menu>
