<model>
    <mount>//OPNsense/Goddy/settings</mount>
    <description>
        The OPNsense DynamicDNS mount and model for the Settings-view.
    </description>
    <version>0.2.1</version>
    <items>
        <enabled type="BooleanField">
            <default>1</default>
            <Required>Y</Required>
        </enabled>
        <interface type="InterfaceField">
            <Required>Y</Required>
            <multiple>N</multiple>
            <default>wan</default>
            <filters>
                <enable>/^(?!0).*$/</enable>
            </filters>
        </interface>
        <atrecord type="BooleanField">
            <default>1</default>
            <Required>Y</Required>
        </atrecord>
        <logsize type="IntegerField">
            <default>5</default>
            <Required>Y</Required>
            <MinimumValue>1</MinimumValue>
            <MaximumValue>100</MaximumValue>
            <ValidationMessage>Choose a value between 1 and 100.</ValidationMessage>
        </logsize>
        <log_level type="OptionField">
            <Required>Y</Required>
            <default>normal</default>
            <OptionValues>
                <normal>normal</normal>
                <debug>debug</debug>
            </OptionValues>
        </log_level>
    </items>
</model>
