<menu>
    <!-- Plugin Dyndns GD menu -->
    <Services>
        <Goddy VisibleName="Dynamic DNS (goddy)"  cssClass="fa fa-tags">
            <GDSettings url="/ui/goddy/settings/index" order="10"/>
            <GDDomains url="/ui/goddy/domains/index" order="30"/>
        </Goddy>
    </Services>
</menu>
